@import "variables.less";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: @fuente-base;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: @color-texto;
}

.btn {
    background-color: @color-acento;
    color: @color-texto;
    padding: 12px 24px;
    border-radius: @radio-btn;
    display: inline-block;
    text-decoration: none;
    align-self: flex-start;
}